# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
.RDataTmp
# User-specific files
.Ruserdata
# RStudio files
.Rproj.user/
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
# RStudio Connect folder
rsconnect/
data/rawdat/*
!data/rawdat/*.rds
!data/rawdat/REF_*.csv
.secrets/
data/db/*
*.duckdb
*.db
*.parquet
nohup.out
.Rproj.user
fia/
inst/doc
/doc/
/Meta/
**/.quarto/
*.zip
notes/.posit/publish/Investigating dropped trees-OEJ2.toml
notes/.posit/publish/deployments/deployment-E1MC.toml

notes/imputation_alternatives_files/
notes/imputation_alternatives.html

notes/evalids_files/
notes/evalids.html
notes/EVALID-timeseries_files/libs/bootstrap/bootstrap-d6a003b94517c951b2d65075d42fb01b.min.css
notes/EVALID-timeseries_files/libs/bootstrap/bootstrap-icons.css
notes/EVALID-timeseries_files/libs/bootstrap/bootstrap-icons.woff
notes/EVALID-timeseries_files/libs/bootstrap/bootstrap.min.js
notes/EVALID-timeseries_files/libs/clipboard/clipboard.min.js
notes/EVALID-timeseries_files/libs/quarto-html/anchor.min.js
notes/EVALID-timeseries_files/libs/quarto-html/popper.min.js
notes/EVALID-timeseries_files/libs/quarto-html/quarto-syntax-highlighting-7b89279ff1a6dce999919e0e67d4d9ec.css
notes/EVALID-timeseries_files/libs/quarto-html/quarto.js
notes/EVALID-timeseries_files/libs/quarto-html/tippy.css
notes/EVALID-timeseries_files/libs/quarto-html/tippy.umd.min.js
notes/EVALID-timeseries_files/libs/quarto-html/axe/axe-check.js
notes/EVALID-timeseries_files/libs/quarto-html/tabsets/tabsets.js
notes/EVALID-timeseries.html
